@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "El Messiri";
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#hero-section {
  background-image: url(assets/hero-sec-bg.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 5rem);
  width: 100%;
}

#overlay {
  background: linear-gradient(-135deg, #876513 0%, #4a1714 100%);
  opacity: 0.70;
  z-index: 1;
}
